# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (including subdirectories)
node_modules/
**/node_modules/

# Build directories
dist/
dist-ssr/

# Local environment files
*.local

# Environment variables (including subdirectories)
.env
.env.*
**/.env
**/.env.*

# Editor directories and files
.vscode/*
!.v
/docs
.api-document

node_modules/
.env
dist/
.DS_Store